@import '../../../style/themes.scss';

@include nb-install-component() {
  nb-card {
    max-width: 600px;
    max-height: 650px;
  }
  nb-dataset {
    max-width: 600px;
    max-height: 650px;
  }
  


  .select {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 50%;
  }
  .date {
    margin-left: 1rem;
    margin-top: 1rem;
    width: 70%;
  }
  .button{
    margin: 0.5rem;
  }

  .form-inline [fullWidth] {
    flex: 1;
  }

  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }

  :host nb-tab {
    padding: 1.25rem;
  }
  nb-checkbox:not(:only-child) {
    margin-right: 1.5rem;
  }
  .checkbox {
    margin-top: 1rem;
  }

}