
<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Spese" tabIcon="list-outline" responsive  [active]="tbUscSel" [disabled]="tbUscDis">
        <form #f="ngForm" (ngSubmit)="saveSpesa(f)">
          <!--  +++++++++++++  spese  ++++++++++++-->
          <nb-card>
            <nb-card-header>Spese</nb-card-header>
            <nb-card-body>
              
        
          <input type="hidden" name="id" [(ngModel)]="mySpesa.id">
          <!-- Descrizione spesa -->
            <div class="form-group">
              <label for="nome_spesa" class="label">Descrizione spesa</label>
              <input type="text" nbInput fullWidth  #nome_spesa="ngModel" required placeholder="Descrizione spesa"
              [(ngModel)]="mySpesa.nome_spesa" name="nome_spesa" id="nome_spesa" >
              <div *ngIf="nome_spesa.invalid" 
                class="alert alert-danger">               
                 Il campo descrizione è obbligatorio                           
                </div>   
                           
          </div>
          <!-- dal conto -->
          <div class="form-row">       
              <label for="conto_da" class="label">Conto da</label>
              <nb-select [(ngModel)]="mySpesa.conto_da"  class="select"  id="conto_da" name="conto_da" size="small" [(selected)]="''+this.mySpesa.conto_da">
                <nb-option [value]="''+conto.id" *ngFor="let conto of this.conti" >  {{conto.nome_conto}}</nb-option>
              </nb-select>        
          </div>
        <!-- category -->
        <div class="form-group"> 
            <label for="category" class="label">Categoria</label>
            <nb-select [(ngModel)]="mySpesa.category"  class="select" id="category" name="category" size="small" [(selected)]="''+this.mySpesa.category">
              <nb-option [value]="''+category.id" *ngFor="let category of this.categories" > {{category.nome_category}}</nb-option>
            </nb-select>
        </div>
          <!-- Data -->
          <div class="form-group">
            <label for="data" class="label">Data</label>
            <input nbInput [(ngModel)]="this.mySpesa.data" #data="ngModel"
            name="data" id="data" [nbDatepicker]="formpicker1" class="date"  >
            <nb-datepicker #formpicker1 format="dd.MM.yyyy" ></nb-datepicker>               
          </div>
          
          <!-- Importo -->
          <div class="form-group">
            <label for="importo" class="label">Importo</label>
            <input type="number" nbInput fullWidth required #importo="ngModel" required placeholder='0.00'
            [(ngModel)]="mySpesa.importo" name="importo" id="importo" step='0.10' min="1" >
            <div *ngIf="importo.invalid">

              <div *ngIf="importo.errors.required">
                Il campo importo è obbligatorio
              </div>
            </div>
          </div>
          <div class="form-group checkbox">
            <nb-checkbox [(ngModel)]="mySpesa.ripetuta"  #ripetuta="ngModel" name="ripetuta" (checkedChange)="toggle($event)">Spesa Ripetuta</nb-checkbox>
            <nb-select *ngIf="checked" [(ngModel)]="mySpesa.rip_time"  id="rip_time" name="rip_time" size="small" (selectedChange)="onDateCalc($event)">
              <nb-option value="1" >Ogni settimana</nb-option>
              <nb-option value="2" >Ogni mese</nb-option>
              <nb-option value="3" >Ogni anno</nb-option>
            </nb-select>
          </div>
          <div class="form-group checkbox">
            <nb-checkbox [(ngModel)]="mySpesa.futura"  #futura="ngModel" name="futura">Spesa Futura</nb-checkbox>
          </div>
            </nb-card-body>
            <nb-card-footer>
              <button class="cancel button" nbButton status="danger" (click)="cancel()">Annulla</button>
              <button nbButton status="success button" >Salva</button>
            
            </nb-card-footer>
          </nb-card>
        </form>

      </nb-tab>
      <nb-tab tabTitle="Trasferimenti" tabIcon="car-outline" responsive  [active]="tbTrasfSel" [disabled]="tbTrasfDis">
 <!--  +++++++++++++  trasferimenti  ++++++++++++-->
        <form #f1="ngForm" (ngSubmit)="saveSpesa(f1)">
          <nb-card>
            <nb-card-header>Trasferimenti</nb-card-header>
            <nb-card-body>
              
                <input type="hidden" name="id" [(ngModel)]="mySpesa.id">
                <!-- Descrizione spesa -->
                  <div class="form-group">
                    <label for="nome_spesa" class="label">Descrizione trasferimento</label>
                    <input type="text" nbInput fullWidth  #nome_spesa="ngModel" required placeholder="Descrizione trasferimento"
                    [(ngModel)]="mySpesa.nome_spesa" name="nome_spesa" id="nome_spesa" >
                    <div *ngIf="nome_spesa.invalid" 
                      class="alert alert-danger">               
                       Il campo descrizione è obbligatorio                           
                      </div>   
                                 
                </div>
                <!-- dal conto -->
                <div class="form-row">       
                    <label for="conto_da" class="label">Conto da</label>
                    <nb-select [(ngModel)]="mySpesa.conto_da" class="select" id="conto_da" name="conto_da" size="small" [(selected)]="''+this.mySpesa.conto_da">
                      <nb-option [value]="''+conto.id" *ngFor="let conto of this.conti" >  {{conto.nome_conto}}</nb-option>
                    </nb-select>        
                </div>
                <!-- al conto -->
                <div class="form-row">       
                  <label for="conto_a" class="label">Conto a</label>
                  <nb-select [(ngModel)]="mySpesa.conto_a"  class="select" id="conto_a" name="conto_a" size="small" [(selected)]="''+this.mySpesa.conto_a">
                    <nb-option [value]="''+conto.id" *ngFor="let conto of this.conti" >  {{conto.nome_conto}}</nb-option>
                  </nb-select>        
              </div>
                <!-- Data -->
                <div class="form-group">
                  <label for="data" class="label">Data</label>
                  <input nbInput [(ngModel)]="this.mySpesa.data" #data="ngModel"
                  name="data" id="data" [nbDatepicker]="formpicker2" class="date"  >
                  <nb-datepicker #formpicker2 format="dd.MM.yyyy" ></nb-datepicker>               
                </div>
                
                <!-- Importo -->
                <div class="form-group">
                  <label for="importo" class="label">Importo</label>
                  <input type="number" nbInput fullWidth required #importo="ngModel" required placeholder='0.00'
                  [(ngModel)]="mySpesa.importo" name="importo" id="importo" step='0.10' min="1" >
                  <div *ngIf="importo.invalid">

                    <div *ngIf="importo.errors.required">
                      Il campo importo è obbligatorio
                    </div>
                  </div>
                </div>
                <div class="form-group checkbox">
                  <nb-checkbox [(ngModel)]="mySpesa.ripetuta"  #ripetuta="ngModel" name="ripetuta" (checkedChange)="toggle($event)">Trasferimento Ripetuto</nb-checkbox>
                  <nb-select *ngIf="checked" [(ngModel)]="mySpesa.rip_time"  id="rip_time" name="rip_time" size="small" (selectedChange)="onDateCalc($event)" >
                    <nb-option value="1" >Ogni settimana</nb-option>
                    <nb-option value="2" >Ogni mese</nb-option>
                    <nb-option value="3" >Ogni anno</nb-option>
                  </nb-select>
                </div>
                <div class="form-group checkbox">
                  <nb-checkbox [(ngModel)]="mySpesa.futura"  #futura="ngModel" name="futura">Trasferimento Futuro</nb-checkbox>
                </div>

             
            </nb-card-body>
            <nb-card-footer>
              <button class="cancel button" nbButton status="danger" (click)="cancel()">Annulla</button>
              <button nbButton status="success button" >Salva</button>
            
            </nb-card-footer>
          </nb-card>
        </form>
      </nb-tab>
      <nb-tab tabTitle="Entrate" tabIcon="briefcase" responsive [active]="tbEntSel" [disabled]="tbEntDis">
        <!-- +++++++++++++++++++    Entrate      +++++++++++++-->
        <form #f2="ngForm" (ngSubmit)="saveSpesa(f2)">
          <nb-card>
            <nb-card-header>Entrate</nb-card-header>
            <nb-card-body>
              
                <input type="hidden" name="id" [(ngModel)]="mySpesa.id">
                <!-- Descrizione spesa -->
                  <div class="form-group">
                    <label for="nome_spesa" class="label">Descrizione Entrate</label>
                    <input type="text" nbInput fullWidth  #nome_spesa="ngModel" required placeholder="Descrizione entrate"
                    [(ngModel)]="mySpesa.nome_spesa" name="nome_spesa" id="nome_spesa" >
                    <div *ngIf="nome_spesa.invalid" 
                      class="alert alert-danger">               
                       Il campo descrizione è obbligatorio                           
                      </div>   
                                 
                </div>
                <!-- al conto -->
                <div class="form-row">       
                  <label for="conto_a" class="label">Conto a</label>
                  <nb-select [(ngModel)]="mySpesa.conto_a" class="select"  id="conto_a" name="conto_a" size="small" [(selected)]="''+this.mySpesa.conto_a">
                    <nb-option [value]="''+conto.id" *ngFor="let conto of this.conti" >  {{conto.nome_conto}}</nb-option>
                  </nb-select>        
              </div>
                            <!-- category -->
                            <div class="form-group"> 
                              <label for="category" class="label">Categoria</label>
                              <nb-select [(ngModel)]="mySpesa.category" class="select" id="category" name="category" size="small" [(selected)]="''+this.mySpesa.category">
                                <nb-option [value]="''+category.id" *ngFor="let category of this.categories" > {{category.nome_category}}</nb-option>
                              </nb-select>
                          </div>
                <!-- Data -->
                <div class="form-group">
                  <label for="data" class="label">Data</label>
                  <input nbInput [(ngModel)]="this.mySpesa.data" #data="ngModel"
                  name="data" id="data" [nbDatepicker]="formpicker3" class="date"  >
                  <nb-datepicker #formpicker3 format="dd.MM.yyyy" ></nb-datepicker>               
                </div>
                
                <!-- Importo -->
                <div class="form-group">
                  <label for="importo" class="label">Importo</label>
                  <input type="number" nbInput fullWidth required #importo="ngModel" required placeholder='0.00'
                  [(ngModel)]="mySpesa.importo" name="importo" id="importo" step='0.10' min="1" >
                  <div *ngIf="importo.invalid">

                    <div *ngIf="importo.errors.required">
                      Il campo importo è obbligatorio
                    </div>
                  </div>
                </div>
                <div class="form-group checkbox">
                  <nb-checkbox [(ngModel)]="mySpesa.ripetuta"  #ripetuta="ngModel" name="ripetuta" (checkedChange)="toggle($event)">Entrata Ripetuta</nb-checkbox>
                  <nb-select  *ngIf="checked" [(ngModel)]="mySpesa.rip_time"  id="rip_time" name="rip_time" size="small" (selectedChange)="onDateCalc($event)">
                    <nb-option value="1" >Ogni settimana</nb-option>
                    <nb-option value="2" >Ogni mese</nb-option>
                    <nb-option value="3" >Ogni anno</nb-option>
                  </nb-select>
                  <div *ngIf="checked" class="form-group">
                      <label for="datafutura" class="label">Prossima data</label>
                    <input nbInput [(ngModel)]="this.mySpesa.datafutura" #datafutura="ngModel"
                      name="datafutura" id="datafutura" class="date" disabled >
                  </div>
                </div>
                <div class="form-group checkbox">
                  <nb-checkbox [(ngModel)]="mySpesa.futura"  #futura="ngModel" name="futura">Entrata Futura</nb-checkbox>
                </div>
            
            </nb-card-body>
            <nb-card-footer>
              <button class="cancel button" nbButton status="danger" (click)="cancel()">Annulla</button>
              <button nbButton status="success button" >Salva</button>
            
            </nb-card-footer>
          </nb-card>
        </form>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>



          
