<nb-layout windowMode>
<nb-layout-header fixed>
  <!--nb-actions class="left">
    <nb-action class="profile" [nbContextMenu]="items" nbContextMenuPlacement="bottom">Profile</nb-action>
    <nb-action>Settings</nb-action>
  </nb-actions-->
 <app-header></app-header>
</nb-layout-header>

<nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
  <nb-menu [items]="menu"></nb-menu>
</nb-sidebar>

<nb-layout-column>
  <router-outlet></router-outlet> 

      <!--input type="text" nbInput fullWidth fieldSize="tiny" placeholder="Tiny"-->

</nb-layout-column>




<nb-layout-footer fixed>
</nb-layout-footer>

</nb-layout>


